@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */

* {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Roboto', sans-serif;
}


/* couleurs */

html {
    --primaire: #9356DC;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --quaternaire: #ececec;
    --background-card: white;
    --background-location: #dbdbdb;
    --background-footer: #353535;
    --color-icones-etapes: #7E7E7E;
    --background-etape3: #F5EDFF;
    --background-nouveau: #99E2D0;
    --color-nouveau: #008766;
    --box-shadow: rgb(182, 182, 182);
    --color-text-primaire: black;
    --color-text-secondaire: white;
}

/* polices */

.police-logo {
    font-family: 'Shrikhand', cursive;
}

/* géréral */

body {
    width: 100%;
}


/*LOGO */

.container-logo {
    box-shadow: 0px 3px 5px var(--box-shadow);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.container-logo p {
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    margin: 0;
}

/*LOCALISATION */

.container-location {
    height: 51px;
    display: flex;
    align-items: center;
    background-color: var(--background-location);
    margin-top: 61px;
}

.container-icone-location {
    font-size: 17px;
}

.container-name-cities {
    margin: 20px auto 20px auto;
    font-weight: 401;
    text-align: center;
    align-items: center;
    display: flex;
    width: 163px;
}

.container-name-cities p {
    font-size: 16px;
    margin: 0 0 0 19px;

}

/* H1 p Button */

.container-H1-p-button {
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--quaternaire);
}

.container-H1-p-button h1 {
    width: 70%;
    font-size: 25px;
    margin: 43px 0 0 0;
}

.container-H1-p-button p {
    width: 90%;
    font-size: 19px;
    margin: 9px 0 0 0;
    font-weight: 390;
}

.button {
    color: var(--color-text-secondaire);
    background-color: var(--primaire);
    font-size: 16px;
    font-weight: 401;
    padding: 16px 22px 16px 22px;
    border-radius: 30px;
    margin: 28px 0 0 0;
    cursor: pointer;
    border: none;
    background: linear-gradient(175deg, var(--secondaire), var(--primaire));

}

/* Fonctionnement   */

.container-fonctionnement {
    height: 392px;
}

.container-fonctionnement h2 {
    margin: 49px 0 21px 23px;
}

.container-ETAPES {
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container-etape {
    background-color: var(--quaternaire);
    box-shadow: 0px 3px 5px var(--box-shadow);
    padding: 10px 30px 10px 30px;
    width: 85%;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.etape-boutique {
    background-color: var(--background-etape3);
}

.nombre-etape {
    position: absolute;
    left: -12px;
    background-color: var(--primaire);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-etape p {
    font-size: 16px;
    font-weight: 402;
    margin: 0;
}

.icone-etape {
    margin-right: 12px;
    display: flex;
    margin-left: 10px;
    width: 30px;
    font-size: 18px;
    color: var(--color-icones-etapes);
}

.ellipsis {
    margin-top: 1.6px;
    font-size: 16px;
}

.bars {
    font-size: 19px;
}

.icone-boutique {
    color: var(--primaire);
}


.nombre-etape p {
    display: block;
    font-size: 15px;
    color: var(--color-text-secondaire);
}

/* RESTAURANTS */

section {
    background-color: var(--quaternaire);
    width: 100%;
    padding: 1% 6% 2% 6%;
}

section h2 {
    margin: 52px 0 21px 0;
}

.container-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

section a {
    outline: none;
    text-decoration: none;
    color: var(--color-text-primaire);
}

.card {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 0 20px 0;
    text-align: left;
    box-shadow: 0px 3px 5px var(--box-shadow);
    position: relative;
    background-color: var(--background-card);
}

.card img {
    height: 176px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card_container-nouveau {
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: var(--background-nouveau);
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_container-nouveau p {
    display: block;
    font-size: 15px;
    font-weight: 401;
    margin: 0;
    color: var(--color-nouveau);
}

.card_description {
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.description_heading-p {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_description h3 {
    margin: 10px 0 0 7%;
    width: 100%;
}

.card_description p {
    margin: 3% 0 3% 7%;
    font-size: 17px;
}

.icone-heart {
    margin: 5% 7% 0 0;
    font-size: 25px;
    font-weight: 100;
}

.icone-heart:hover {
    color: pink;
}

/* FOOTER */

footer {
    background-color: var(--background-footer);
    color: var(--color-text-secondaire);
    padding: 50px 30px 100px 50px;
}

.container-logo-footer p {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin: 0;
}

footer a {
    outline: none;
    text-decoration: none;
    color: var(--white);
}

footer ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

footer li {
    margin-top: 10px;
}

footer li i {
    margin-right: 8px;
    width: 10px;
    font-size: 12px;
}


/* ///////////////////////////////////RESPONSIVE TABLETTE/////////////////////////////////////// */
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px (tablette) */
/*  @media all and (min-width: 768px) and (max-width: 992px) */
/* RESPONSIVE TABLETTE */

@media screen and (min-width: 768px) and (max-width: 991px) {

    .container-logo p {
        color: red;
    }


    /* LOCALISATION RESPONSIVE TABLETTE */

    .container-name-cities {
        margin-left: 20px;
        width: auto;
    }

    .container-name-cities p {
        margin-left: 18px;
    }

    /* H1 p Button RESPONSIVE TABLETTE */

    .container-H1-p-button {
        text-align: left;
        align-items: left;
        width: 100%;
    }

    .container-H1-p-button h1 {
        width: 100%;
        margin-left: 46px;
    }

    .container-H1-p-button p {
        width: 100%;
        margin-left: 46px;
    }

    .button {
        align-self: baseline;
        margin-left: 27px;
    }


    /* Fonctionnement RESPONSIVE TABLETTE */

    .container-fonctionnement {
        height: auto;
        padding-bottom: 68px;
    }


    .container-ETAPES {
        flex-direction: row;
        height: auto;
        padding: 0 10px 0 10px;
    }


    .container-etape {
        width: 28%;

    }

    /* RESTAURANTS RESPONSIVE TABLETTE */

    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 45%;
    }

    /* FOOTER RESPONSIVE TABLETTE */

    footer ul {
        display: flex;
        width: 60%;
        max-width: 450px;
        justify-content: space-between;
    }


}


/* ///////////////////////////////////RESPONSIVE PC/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (min-width: 992px) {

    .container-logo p {
        color: green;
    }

    /* LOCALISATION RESPONSIVE PC */

    .container-name-cities {
        margin-left: 20px;
        width: auto;
    }

    .container-name-cities p {
        margin-left: 18px;
    }

    /* H1 p Button RESPONSIVE PC */

    .container-H1-p-button {
        text-align: left;
        align-items: left;
        width: 100%;
    }

    .container-H1-p-button h1 {
        width: 100%;
        margin-left: 46px;
    }

    .container-H1-p-button p {
        width: 100%;
        margin-left: 46px;
    }

    .button {
        align-self: baseline;
        margin-left: 27px;
    }


    /* Fonctionnement RESPONSIVE PC */

    .container-fonctionnement {
        height: auto;
        padding-bottom: 68px;
    }


    .container-ETAPES {
        flex-direction: row;
        height: auto;
        padding: 0 10px 0 10px;
    }


    .container-etape {
        width: 28%;

    }

    /* RESTAURANTS RESPONSIVE PC */

    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 20%;
    }

    /* FOOTER RESPONSIVE PC */

    footer ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .container-two-link {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

}


/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/

/* GENERAL - PAGES RESTAURANTS */




/* LOGO ET RETOUR - PAGES RESTAURANTS */

.container-logo-pages-restaurants {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.icon-arrow {
    margin-left: 26px;
    margin-top: 22px;
    position: absolute;
}


.link {
    outline: none;
    text-decoration: none;
    color: var(--color-text-primaire);
}

.container-logo-pages-restaurants p {
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    margin: 0;
}

/* PHOTO DU RESTAURANT  - PAGES RESTAURANTS */

.container-picture-restaurant img {
    object-fit: cover;
    width: 100%;
    height: 278px;
    margin-top: 61px;
}

/* H1 HEART - PAGES RESTAURANTS  */

.container-H1-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: var(--quaternaire);
    position: absolute;
    width: 100%;
    top: 287px;
    left: 0;
    height: 95px;
    border-radius: 40px 40px 0 0;
}

.container-H1-heart h1 {
    margin: 0 0 0 21px;
    font-size: 28px;
    font-weight: 1;
}

.container-H1-heart .icone-heart {
    margin: 0 34px 0 0;

}

/* MENUS - PAGES RESTAURANTS  */

.section--menu {
    margin-top: 10px;
}


.section--menu h2 {
    font-size: 17px;
    font-weight: 385;
    margin-top: 27px;
}

.card--menu {
    margin-bottom: 13px;
}

.card--menu .card_description {
    height: auto;
    padding: 14px 10px 14px 10px;
}

.card--menu .description_heading-p {
    height: auto;
}

.card--menu .description_heading-p h3 {
    margin: 0;
    font-weight: 401;
    font-size: 18px;
}

.card--menu .description_heading-p p {
    margin: 6px 0 0 0;
    font-weight: 399;
    font-size: 14px;
}

.card--menu .description_heading-p {
    width: 100%;
}

.price-menu {
    align-self: flex-end;
}

.price-menu p {
    margin-right: 12px;
    margin-bottom: -3px;
    font-weight: 401;
    font-size: 15px;
}


/* BUTTON MENUS - PAGES RESTAURANTS  */

.container-button-menu {
    text-align: center;
}

.button-menu {
    font-weight: 400;
    padding: 16px 50px 16px 50px;
    margin: 11px 0 51px 0;
}