@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */

* {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}

body {
    font-family: 'Roboto', sans-serif;
}


/* couleurs */

html {
--primaire: #9356DC;
--secondaire: #FF79DA;
--tertiaire: #99E2D0;
--gris-fonce:#353535;
--gris-moyen: #EAEAEA;
--gris-clair: #F6F6F6;
--gris-icones:  #7E7E7E;
--violet-clair: #F5EDFF;
--vert-clair:#99E2D0 ;
--vert-fonce: #008766;
--box-shadow: rgb(209, 208, 208);
--white: white;
}


/* géréral */

body {
    width: 100%;
}


/*LOGO */

.container-logo {
    box-shadow: 0px 3px 5px var(--gris-moyen);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-logo p{
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    margin: 0;
}

/*LOCALISATION */

.container-localisation {
    height: 51px;
    display: flex;
    align-items: center;
    background-color:  var(--gris-moyen);
}

.container-icone-localisation {
    position: absolute;
    left: -20px;
    font-size: 17px;
}

.container-name-cities {
    margin: 20px auto 20px auto;
    width: 35%;
    font-weight: 401;
    text-align: center;
    position: relative;
}

.container-name-cities p {
    font-size: 16px;
    margin: 0;
}

 /* H1 p Button */

 .container-H1-p-button {
    height: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:  var(--gris-clair);
 }

 .container-H1-p-button h1 {
    width: 70%;
    font-size: 25px;
    margin: 43px 0 0 0;
 }
 
 .container-H1-p-button p {
    width: 90%;
    font-size: 19px;
    margin: 9px 0 0 0;
    color: var(--gris-fonce);
   font-weight: 390;
 }

 .button{
    color: var(--white);
    background-color: var(--primaire);
    font-size: 16px;
    padding: 14px 20px 14px 20px;
    border-radius: 30px;
    margin: 28px 0 0 0;
 }

 /* Fonctionnement   */

 .container-fonctionnement {
    height: 392px;
 }


 .container-fonctionnement h2{
    margin: 49px 0 21px 23px;
 }

 .container-ETAPES { 
        height: 282px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
 }

 .container-etape {
     background-color: var(--gris-clair);
     box-shadow: 0px 3px 5px var(--box-shadow);
     padding: 10px 30px 10px 30px;
     width: 85%;
     height: 75px;
     display: flex;
     align-items: center;
     border-radius: 20px;
     position: relative;
 }

 .etape-boutique {
    background-color: var(--violet-clair);
 }
 
 .container-etape p {
    font-size: 16px;
    font-weight: 402;
    margin: 0;
}

.icone-etape {
    margin-right: 20px;
    width: 30px;
    font-size: 18px;
    color: var(--gris-icones);
 }

 .icone-boutique {
    color: var(--primaire);
 }

 .nombre-etape{
    position: absolute;
    left: -12px;
    background-color: var(--primaire);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .nombre-etape p{
    display: block;
    font-size: 15px;
    color:  var(--white);
 }

/* RESTAURANTS */

.section-restaurants {
    background-color: var(--gris-clair);
    width: 100%;
    padding: 1% 6% 2% 6%;
}

.section-restaurants h2 {
    margin: 52px 0 21px 0;
}

.container-restaurants {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

section a {
    outline: none;
    text-decoration: none;
    color: black;
}

.card {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 0 20px 0;
    text-align: left;
    box-shadow: 0px 3px 5px var(--box-shadow);
    position: relative;
}

.card img {
    height: 176px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card_container-nouveau {
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: var(--vert-clair);
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_container-nouveau p {
    display: block;
    font-size: 15px;
    font-weight: 401;
    margin: 0;
    color: var(--vert-fonce);
}

.card_description {
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.description_heading-p {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_description h3 {
    margin: 10px 0 0 7%;
    width: 100%;
}

.card_description p {
    margin: 3% 0 3% 7%;
    font-size: 17px;
}

.description_heart {
    margin: 5% 7% 0 0;
    font-size: 25px;
    font-weight: 100;
}

.description_heart:hover{
    color: pink;
}

 /* FOOTER */

 footer {
     background-color: var(--gris-fonce);
     color:  var(--white);
     padding: 5% 3% 2% 5%;
 }

 .container-logo-footer p {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin: 0;
}

 footer a {
    outline: none;
    text-decoration: none;
    color:  var(--white);
}

footer ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
  }

footer li {
    margin-top: 10px;
  }

footer li i{
    margin-right: 8px;
    width: 10px;
    font-size: 12px;
  }