@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */

* {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}


/* ////////////////////////////////////ANIMATION //////////////////////////////////////////////*/


/* ///////////////////////////////////ANIMATION LOADER ///////////////////////////////////*/


.background-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     /* je positionne le backgorund pour qu'il prenne l'intégralité de la page */
    background-color: var(--color-text-secondaire);
    z-index: -101;
    animation: animation-background 3000ms forwards;
     /* animation dure 3s et 
     "forwards = garde les propriété de fin d'animation" */

}

.container-loader {
    position: relative;
    top: -50px;
    left: -50px;
       /* on décale de -50px pour compenser le transform origin et garder l'animation centrée */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
     /* je centre le loader sur le view page */
}

.loader__utensils {
    position: absolute;
     animation: animation-loader 1800ms linear; 
    transform-origin: 50px 50px;
    opacity: 0;
    /* définit le comportements de mes utensils dans l'animations
       "1800ms = donne le temps à chaque utensils pour réaliser le tour"
       "linear = annule l acceleration et la desceleration"
       "transform-origin = permet de créer le rayon de mon cercle"
       "opacity = laisse invisible les utensils au départ" */
}

    /* je crée le décalage dans le démarrage de chaque utensils */
.loader__utensils--1 {
    animation-delay: 300ms;
}
.loader__utensils--2 {
    animation-delay: 600ms;
}
.loader__utensils--3 {
    animation-delay: 900ms;
}
.loader__utensils--4 {
    animation-delay: 1200ms;
}
.loader__utensils--5 {
    animation-delay: 1500ms;
}
.loader__utensils--6 {
    animation-delay: 1800ms;
}

/* animation du loader */
@keyframes animation-loader {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
     /* opacity = les rends visible uniquement pendant l'animation*/
}

/* animation pour le background */
@keyframes animation-background {
    0% {
        z-index: 200;
        opacity: 1;
    }

    92% {
        z-index: 200;
        opacity: 1;
    }

    100% {
        z-index: -100;
        opacity: 0;
    }
     /* "z-index = on passe au premier plan le background et le loader (enfant)
              et on remet tout en arrière plan à la fin de l'animation"
    "opacity = vu qu'on à placé un forwards sur l'animation on doit remettre 
              l'opacité à 0 en fin d'animation, sinon elle va rester à 1."
              */
}


/* ///////////////////////////  ANIMATION CHECK MENU CARD  /////////////////////////// */

.card--menu {
    overflow: hidden;
    /* permet de masquer tout ce qui sort de la card */
}

.card--menu:hover .hover-animation-translateY-card-menu {
    transform: translateX(-65px);
    transition: transform 500ms;
     /* translation à gauche de l'animation */
}

.card--menu:hover .price-menu {
    transform: translateX(-65px);
    transition: transform 500ms;
       /* translation à gauche du prix */
}

.card--menu:hover .description_heading-p {
  width: 66%;
     /* reduction du texte de la card au survol */
}

.hover-animation-translateY-card-menu {
    width: 65px;
    height: 74px;
    background-color: var(--background-animation-hover-card-menu);
    position: absolute;
    top: 0px;
    right: -65px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
     /* animation caché à droite de la card */
}

.hover-animation-rotate-card-menu {
    font-size: 26px;
    color: var(--color-text-secondaire);
        /* logo de l'animation */
}

.card--menu:hover .hover-animation-rotate-card-menu {
    transform: rotate(360deg);
    transition: transform 500ms;
      /* rotation du logo de l'animation */
}


/*///////////////////////////  ANIMATION APPARITION PROGRESSIVE DES PLATS - MENU CARD /////////////////////////// */


.card--menu {
    animation: apparition-menu 2s forwards;
    opacity: 0;
      /* "2s = durée de l'animation"
         "forwards = garde les propriété de fin d'animation" */
}

 /* "décalage de l'arrivé des card menu sur la page à l'actualisation" */
.animation-1 {
    animation-delay: 200ms;
}
.animation-2 {
    animation-delay: 400ms;
}
.animation-3 {
    animation-delay: 600ms;
}
.animation-4 {
    animation-delay: 800ms;
}

 /* "la carte apparait progessivement en se mettant à sa place définitive" */
@keyframes apparition-menu {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ///////////////////////////  ANIMATION HEART FILLING  /////////////////////////// */


/* "on crée un deuxième coeur et on lui donne avec SCALE une taille TOUTE PETITE (0.01) pour q'il ne soit pas visible" */
.heart-filling {
    font-size: 23px;
    color: var(--secondaire);
    margin-bottom: 1rem;
                /* "on lui donne une taille légérement plus petite que le premier coeur
                et on ajuste car ce deuxième coeur va servir uniquement
                au remplissage du premier*/
    transform: scale(0.01);
    transition: transform 1000ms;
            /* "les caractéristiques de l'animation:
                 taille initiale et la durée de l'animation;*/
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 1px;
        /* "on le superpose au premier coeur avec absolute
            et on corrige légérement son positionnement en testant visuellement" */
    opacity: 1;
    z-index: -1;
            /* "on le place à l'arrière car c'est un remplissage du prmier coeur*/

}

.icone-heart:hover>.heart-filling {
    transform: scale(1);
       /* "l'élément d'éclancheur de l'animation et sa taille finale*/

}


/* /////////////////////////// ANIMATION HOVER BUTTON  ///////////////////////////*/

.button:hover {
    filter: brightness(1.1);
    box-shadow: 0px 8px 10px var(--box-shadow-button-darken);
}



/*/////////////////////////////////////////// GENERAL - HOME PAGE /////////////////////////////*/


body {
    font-family: 'Roboto', sans-serif;
}

.global-margin {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* couleurs */

html {
    --primaire: #9356DC;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --quaternaire: #ececec;
    --background-card: white;
    --background-location: #dbdbdb;
    --background-footer: #353535;
    --color-icones-etapes: #7E7E7E;
    --background-etape3: #F5EDFF;
    --background-nouveau: #99E2D0;
    --background-animation-hover-card-menu: #99E2D0;
    --border-bottom-H2: #99E2D0;
    --color-nouveau: #008766;
    --box-shadow: rgb(214, 214, 214);
    --box-shadow-button: rgb(184, 184, 184);
    --box-shadow-button-darken: rgb(110, 110, 110);
    --color-text-primaire: black;
    --color-text-secondaire: white;
}

/* polices */

.police-logo {
    font-family: 'Shrikhand', cursive;
}


/*LOGO */

.container-logo {
    box-shadow: 0px 4px 10px var(--box-shadow);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    margin: 0;
}


/*LOCALISATION */

.container-location {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-location);
    margin-top: 61px;
}

.container-location i {
    font-size: 17px;
}

.container-location p {
    margin: 20px 0 20px 20px;
    font-weight: 401;
}

.container-name-cities p {
    font-size: 16px;
    margin: 0 0 0 19px;

}

/* H1 p Button */

.container-H1-p-button {
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--quaternaire);
}

.container-H1-p-button h1 {
    width: 70%;
    font-size: 25px;
    margin: 43px 0 0 0;
}

/* BUTTON */

.container-H1-p-button p {
    width: 90%;
    font-size: 19px;
    margin: 9px 0 0 0;
    font-weight: 390;
}

.button {
    color: var(--color-text-secondaire);
    background: linear-gradient(175deg, var(--secondaire), var(--primaire));
    border-radius: 30px;
    box-shadow: 0px 4px 10px var(--box-shadow-button);
    font-size: 16px;
    font-weight: 401;
    padding: 16px 22px 16px 22px;
    margin: 28px 0 0 0;
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 1;
}



/* FONCTIONNEMENT   */

.container-fonctionnement {
    height: 392px;
}

.container-fonctionnement h2 {
    margin: 49px 0 21px 23px;
}

.container-ETAPES {
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container-etape {
    background-color: var(--quaternaire);
    box-shadow: 0px 4px 10px var(--box-shadow);
    padding: 10px 30px 10px 30px;
    width: 85%;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.etape-boutique {
    background-color: var(--background-etape3);
}

.nombre-etape {
    position: absolute;
    left: -12px;
    background-color: var(--primaire);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondaire);
}

.container-etape p {
    font-size: 16px;
    font-weight: 402;
    margin: 0;
}

.icone-etape {
    margin-right: 12px;
    display: flex;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: var(--color-icones-etapes);
    align-items: center;
}

.icone-ellipsis {
    font-size: 16px;

}

.icone-bars {
    font-size: 19px;
    margin-left: 2px;

}

.icone-boutique {
    color: var(--primaire);
}


/* RESTAURANTS */

section {
    background-color: var(--quaternaire);
    width: 100%;
    padding: 1% 6% 2% 6%;
}

section h2 {
    margin: 52px 0 21px 0;
    position: relative;
}

.border-bottom-h2 {
    position: absolute;
    top: 17px;
    left: 1px;
    border-bottom: var(--border-bottom-H2) 3px solid;
    width: 42px;
    height: 10px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

section a {
    outline: none;
    text-decoration: none;
    color: var(--color-text-primaire);
}

.card {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 0 20px 0;
    text-align: left;
    box-shadow: 0px 4px 10px var(--box-shadow);
    position: relative;
    background-color: var(--background-card);
}

.card img {
    height: 176px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card_container-nouveau {
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: var(--background-nouveau);
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_container-nouveau p {
    display: block;
    font-size: 15px;
    font-weight: 401;
    margin: 0;
    color: var(--color-nouveau);
}

.card_description {
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.description_heading-p {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_description h3 {
    margin: 10px 0 0 7%;
    width: 100%;
}

.card_description p {
    margin: 3% 0 3% 7%;
    font-size: 17px;
}

.icone-heart {
    width: 25px;
    height: 25px;
    margin: 5% 7% 0 0;
    font-size: 25px;
    font-weight: 100;
    position: relative;
    z-index: 1;
    opacity: 1;
}


/* FOOTER */

footer {
    background-color: var(--background-footer);
    color: var(--color-text-secondaire);
    padding: 24px 30px 34px 26px;
    /* padding: 50px 30px 100px 50px; */
}

.container-logo-footer {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin: 0;
}

footer a {
    outline: none;
    text-decoration: none;
    color: var(--white);
}

footer ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

footer li {
    margin-top: 10px;
}

footer li i {
    margin-right: 8px;
    width: 10px;
    font-size: 12px;
}

/* ///////////////////////////////// RESPONSIVE TABLETTE - HOME PAGE /////////////////////////////////////// */
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px (tablette) */
/*  @media all and (min-width: 768px) and (max-width: 992px) */
/* RESPONSIVE TABLETTE */

@media screen and (min-width: 768px) and (max-width: 991px) {


    /* LOCALISATION RESPONSIVE TABLETTE */

    .container-location {
        justify-content: left;
    }

    .container-location i {
        margin-left: 25px;
    }

    .container-location p {
        margin-left: 18px;
    }

    /* H1 p Button RESPONSIVE TABLETTE */

    .container-H1-p-button {
        text-align: left;
        width: 100%;
    }

    .container-H1-p-button h1 {
        width: 100%;
        margin-left: 46px;
    }

    .container-H1-p-button p {
        width: 100%;
        margin-left: 46px;
    }

    .button {
        align-self: baseline;
        margin-left: 27px;
    }


    /* FONCTIONNEMENT RESPONSIVE TABLETTE */

    .container-fonctionnement {
        height: auto;
        padding-bottom: 68px;
    }


    .container-ETAPES {
        flex-direction: row;
        height: auto;
        padding: 0 10px 0 10px;
    }


    .container-etape {
        width: 28%;
    }

    /* RESTAURANTS RESPONSIVE TABLETTE */

    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 45%;
    }

    /* FOOTER RESPONSIVE TABLETTE */

.container-logo-liens-footer ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto ;
}


}


/* ///////////////////////////////////RESPONSIVE PC - HOME PAGE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (min-width: 992px) {

    /* LOCALISATION RESPONSIVE PC */

    .container-location {
        justify-content: left;
    }

    .container-location i {
        margin-left: 25px;
    }

    .container-location p {
        margin-left: 18px;
    }

    /* H1 p Button RESPONSIVE PC */

    .container-H1-p-button {
        text-align: left;
        width: 100%;
    }

    .container-H1-p-button h1 {
        width: 100%;
        margin-left: 46px;
    }

    .container-H1-p-button p {
        width: 100%;
        margin-left: 46px;
    }

    .button {
        align-self: baseline;
        margin-left: 27px;
    }


    /* FONCTIONNEMENT RESPONSIVE PC */

    .container-fonctionnement {
        height: auto;
        padding-bottom: 68px;
    }


    .container-ETAPES {
        flex-direction: row;
        height: auto;
        padding: 0 10px 0 10px;
    }


    .container-etape {
        width: 28%;

    }

    /* RESTAURANTS RESPONSIVE PC */

    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 20%;
    }

    /* FOOTER RESPONSIVE PC */

    footer {
        padding-top: 34px;
    }

    footer ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    footer li {
      margin: 0;
    }

    .container-two-link {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

}


/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/
/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/
/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/
/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/
/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/
/* ///////////////////////// PAGES RESTAURANTS //////////////////////*/



/* LOGO ET RETOUR - PAGES RESTAURANTS */

.container-logo-pages-restaurants {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    margin: 0;
}

.icon-arrow {
    margin-left: 26px;
    margin-top: 22px;
    position: absolute;
}


.link {
    outline: none;
    text-decoration: none;
    color: var(--color-text-primaire);
}


/* PHOTO DU RESTAURANT - PAGES RESTAURANTS */

.container-picture-restaurant img {
    object-fit: cover;
    width: 100%;
    height: 278px;
    margin-top: 60px;
}

/* H1 HEART - PAGES RESTAURANTS  */

.container-H1-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: var(--quaternaire);
    position: absolute;
    width: 100%;
    top: 287px;
    height: 95px;
    border-radius: 40px 40px 0 0;
}

.container-H1-heart h1 {
    margin: 0 0 0 21px;
    font-size: 28px;
    font-weight: 1;
}

.container-H1-heart .icone-heart {
    margin: 0 34px 0 0;

}

/* MENUS - PAGES RESTAURANTS  */

.section--menu {
    margin-top: 10px;
}

.section--menu h2 {
    font-size: 17px;
    font-weight: 385;
    margin-top: 27px;
}

.card--menu {
    margin-bottom: 13px;
}

.card--menu .card_description {
    height: auto;
    padding: 14px 10px 14px 10px;
}

.card--menu .description_heading-p {
    height: auto;
}

.card--menu .description_heading-p h3 {
    margin: 0;
    font-weight: 401;
    font-size: 17px;
    width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--menu .description_heading-p p {
    margin: 6px 0 0 0;
    font-weight: 399;
    font-size: 14.5px;
    width: 97%;
    ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--menu .description_heading-p {
    width: 85%;
}

.price-menu {
    align-self: flex-end;
}

.price-menu p {
    margin-right: 12px;
    margin-bottom: -3px;
    font-weight: 401;
    font-size: 15px;
}


/* BUTTON MENUS - PAGES RESTAURANTS  */

.button-menu {
    display: flex;
    align-self: center;
    font-weight: 400;
    padding: 16px 50px 16px 50px;
    background-color: var(--quaternaire);
    margin: 0 auto 50px auto;
}

/* ///////////////////////////////////PAGES RESTAURANTS - RESPONSIVE TABLETTE/////////////////////////////////////// */
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px (tablette) */
/*  @media all and (min-width: 768px) and (max-width: 992px) */
/* RESPONSIVE TABLETTE */

@media screen and (min-width: 768px) and (max-width: 991px) {


    /* MENUS - PAGES RESTAURANTS - RESPONSIVE TABLETTE  */

    .section--menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section--menu .container-cards {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto ;
        }

    .card--menu {
        width: 32%;
        min-width: 353px;
    }

    .card--menu .description_heading-p {
        width: 100%;
    }

    .price-menu {
        align-self: baseline;
        margin-top: 5px;
    }

    .price-menu P {
        margin: 0;
    }


    /* BUTTON MENUS - PAGES RESTAURANTS - RESPONSIVE TABLETTE  */

    .button-menu {
        text-align: left;
        margin-left: 8px;
    }


}




/* ///////////////////////////////////PAGES RESTAURANTS - RESPONSIVE PC/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (min-width: 992px) {



    /* MENUS - PAGES RESTAURANTS - RESPONSIVE PC  */

    .section--menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container-ENTREE-PLAT-DESSERT {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container-menu-type {
        width: 32%;
    }


    .section--menu .container-cards {
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .card--menu {
        width: 100%;
    }

    .card--menu .card_description {
        min-width: 305px;
    }

    .card--menu .description_heading-p h3 {
        font-size: 15px;
    }

    .card--menu .description_heading-p {
        font-size: 14px;
    }

    /* BUTTON MENUS - PAGES RESTAURANTS - RESPONSIVE PC  */


    .button-menu {
        text-align: left;
        margin-left: 8px;
    }

}